// registry=https://registry.npmjs.org
registry=http://registry.npmmirror.com
disturl=http://npmmirror.com/dist

// pnpm config
shamefully-hoist=true

chromedriver-cdnurl=http://npmmirror.com/mirrors/chromedriver
sharp_binary_host=http://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=http://npmmirror.com/mirrors/sharp-libvips
couchbase-binary-host-mirror=http://npmmirror.com/mirrors/couchbase/v{version}
debug-binary-host-mirror=http://npmmirror.com/mirrors/node-inspector
electron-mirror=http://npmmirror.com/mirrors/electron/
flow-bin-binary-host-mirror=http://npmmirror.com/mirrors/flow/v
fse-binary-host-mirror=http://npmmirror.com/mirrors/fsevents
fuse-bindings-binary-host-mirror=http://npmmirror.com/mirrors/fuse-bindings/v{version}
git4win-mirror=http://npmmirror.com/mirrors/git-for-windows
gl-binary-host-mirror=http://npmmirror.com/mirrors/gl/v{version}
grpc-node-binary-host-mirror=http://npmmirror.com/mirrors
hackrf-binary-host-mirror=http://npmmirror.com/mirrors/hackrf/v{version}
leveldown-binary-host-mirror=http://npmmirror.com/mirrors/leveldown/v{version}
leveldown-hyper-binary-host-mirror=http://npmmirror.com/mirrors/leveldown-hyper/v{version}
mknod-binary-host-mirror=http://npmmirror.com/mirrors/mknod/v{version}
node-sqlite3-binary-host-mirror=http://npmmirror.com/mirrors
node-tk5-binary-host-mirror=http://npmmirror.com/mirrors/node-tk5/v{version}
nodegit-binary-host-mirror=http://npmmirror.com/mirrors/nodegit/v{version}/
operadriver-cdnurl=http://npmmirror.com/mirrors/operadriver
phantomjs-cdnurl=http://npmmirror.com/mirrors/phantomjs
profiler-binary-host-mirror=http://npmmirror.com/mirrors/node-inspector/
puppeteer-download-host=http://npmmirror.com/mirrors
python-mirror=http://npmmirror.com/mirrors/python
rabin-binary-host-mirror=http://npmmirror.com/mirrors/rabin/v{version}
sass-binary-site=http://npmmirror.com/mirrors/node-sass
sodium-prebuilt-binary-host-mirror=http://npmmirror.com/mirrors/sodium-prebuilt/v{version}
sqlite3-binary-site=http://npmmirror.com/mirrors/sqlite3
utf-8-validate-binary-host-mirror=http://npmmirror.com/mirrors/utf-8-validate/v{version}
utp-native-binary-host-mirror=http://npmmirror.com/mirrors/utp-native/v{version}
zmq-prebuilt-binary-host-mirror=http://npmmirror.com/mirrors/zmq-prebuilt/v{version}
electron_mirror=http://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npmmirror.com/mirrors/electron-builder-binaries/
PRISMA_BINARIES_MIRROR=http://npmmirror.com/mirrors/prisma/
