@import '/src/styles/variables.less';

.comp-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  transform: scale(0.95);

  strong {
    font-weight: 400;
    //font-size: 12px;
  }

  span {
  }

  a {
    display: inline-block;
    padding: 0 3px;
  }
}

// DARK-MODE
.comp-wrapper--always-dark-mode,
:global(.@{THEME--DARK}) .comp-wrapper {
  color: var(--text-color--dark);

  a {
    color: var(--text-color--dark);
  }
}
